# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]

# --------------------
# Virtual environments
# --------------------
.venv/

# --------------------
# Flask
# --------------------
instance/
.webassets-cache/

# --------------------
# Environment variables
# --------------------
.env
.env.*

# --------------------
# Database
# --------------------
*.sqlite3

# --------------------
# Logs
# --------------------
*.log

# --------------------
# IDE / Editor
# --------------------
.vscode/